---
name: YAML Lint

'on':
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install yamllint
        run: pip install yamllint
      - name: Run yamllint
        run: make validate-yaml
